
<form method="get" action="{:U()}" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" disabled="disabled" href="javascript:void(0);"> 添加内容</a> </li>
        <li>搜索：</li>
        <li>
          <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="brsearch()" > 搜索</a></li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th style="text-align:left; padding-left:20px;">时间</th>
        <th style="text-align:left; padding-left:20px;">姓名</th>
        <th style="text-align:left; padding-left:20px;">电话</th>
        <th style="text-align:left; padding-left:20px;">内容</th>
        <th width="310">操作</th>
      </tr>
	  <foreach name="list" item="value">
	  <tr>
          <td><font color="#00CC99">{$value['id']}</font></td>
          <td style="text-align:left; padding-left:20px;">{$value['create_time']}</td>
          <td style="text-align:left; padding-left:20px;">{$value['name']}</td>
          <td style="text-align:left; padding-left:20px;">{$value['phone']}</td>
          <td style="text-align:left; padding-left:20px;">{:mb_substr($value['content'],0,20,"utf-8")}...</td>
          <td><div class="button-group"> <a class="button border-red" href="javascript:void(0)" onclick="return brand_del({$value['id']})"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
	  </foreach>
      <tr>
        <td colspan="8"><div class="pagelist">{$page}</div></td>
      </tr>
    </table>
  </div>
</form>
<script>
function brand_del(id){

	<!-- 删除确认框 -->
	if(confirm('确认要删除该品牌吗？')){
		<!-- 如果确认，就给跳转地址 -->
		url='{:U("delete",["id"=>"idstr"])}'.replace('idstr',id);
		window.location.href = url;
	}
}

function brsearch(){
	$('form').submit();
}
</script>