@charset "utf-8";
body{
	font-family: 微软雅黑;
	font-size: 0;
}
.main{
	background: url(../images/about_us_bg.jpg) 100% 100%;
	.container{
		color: #333;
		padding-bottom: 40px;
		.shop-header{
			overflow: hidden;
			h2{
				display: inline-block;
				margin:{
					top: 35px;
				}
			}
			.shop-flow{
				width: 600px;
				display: inline-block;
				float: right;
				text-align: center;
				margin-right: -60px;
				i{
					display: inline-block;
					width: 430px;
					height: 30px;
					background: url(../images/pay_image.png) no-repeat;
					margin:{
						top: 40px;
					}
				}
				ol{
					li{
						width: 33.3333%;
						display: inline-block;
						font-size: 18px;
						&.cur{
							color: #993333;
						}
					}
				}
			}	
		}
		.content{
			background: #fff;
			margin-top: 25px;
			padding: 10px 20px 30px 20px;
			h3{
				margin-top: 20px;
				margin-left: 10px;
				font-size: 20px;
			}
			.submit-success{
				margin: 0;
				border: 1px solid #ccc;
				i{
					display: inline-block;
					margin-top: 15px;
    				margin-left: 35px;
					width: 81px;
					height: 80px;
					background: url(../images/pay_success.png) no-repeat;
				}
				h3{
					margin-top: 10px;
					margin-left: 0;
				}
				p{
					font-size: 16px;
					span{
						color: #ff0000;
					}
				}
			}
			.pay-ways{
				border: 1px solid #ccc;
				padding: 0 20px;
				h4{
					border-bottom: 1px solid #999;
					margin-bottom: 0;
					padding-bottom: 5px;
				}
				label{
					width: 20px;
					height: 20px;
					margin:{
						top: 18px;
						left: 17px;
					}
					background: url(../images/pay_unchecked_icon.png) no-repeat;
					&.default{
						background: url(../images/pay_checked_icon.png) no-repeat;
					}
					input{
						visibility: hidden;
					}
				}
				// 滚动条样式修改
				.mCSB_scrollTools{
					height: 70px;
				}
				.mCSB_scrollTools .mCSB_draggerRail{
				    width:1px;
				    background: #993333;
				    border-radius: 0;
			    }
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
					width: 11px;
					background: #993333;
					border-radius: 0;
				}
				.e-payment{
					height: 85px;
				}
				.e-payment,.other-payment{
					padding: 15px 0 0 0;
					.pay-box{
						border: 1px solid #999;
						width: 217px;
						height: 55px;
						margin-bottom: 15px;
						cursor: pointer;
						background: url(../images/pay_bank_icon.jpg) no-repeat;
						&.alipay{
							background: url(../images/pay_alipay_icon.jpg) no-repeat;
						}
						&.weChat{
							background: url(../images/pay_weChat_icon.jpg) no-repeat;
						}
					}
				}
			}
			.password{
				font-size: 18px;
				padding: 20px;
				overflow: hidden;
				border: 1px solid #ccc;
				i{
					display: inline-block;
					width: 23px;
					height: 23px;
					float: left;
					margin-right: 4px;
					background: url(../images/pay_safe_icon.png) no-repeat;
				}
				.pay-password{
					margin-top: 20px;
					span{
						display: inline-block;
						vertical-align: top;
					}
					p{
						display: inline-block;
						input{
							width: 50px;
							height: 45px;
							text-align: center;
							border: none;
							border: 1px solid #000;
							border-left: none;
							&:first-child{
								border-left: 1px solid #000;
							}
						}
					}
					a{
						font-size: 18px;
						color: #006699;
						margin-left: 5px;
					}
				}
				&>a{
					font-size: 24px;
					color: #fff;
					text-align: center;
					display: inline-block;
					float: right;
					width: 165px;
					line-height: 50px;
					background: #993333;
					border-radius: 10px;
					behavior: url(PIE.htc);
				}
			}
		}
	}
}



/* 响应式 */
@media (min-width:768px) and (max-width:1200px){
	.main{
		.container{
			.shop-header{
				h2{
					margin-top: 20px;
					font-size: 24px;
				}
				.shop-flow{
					width: 600px;
					i{
						margin-top: 20px;
					}
					ol li{
						font-size: 16px;
					}
				}	
			}
			.content{
				h3{
					font-size: 18px;
				}
				.pay-ways{
					label{
						width: 18px;
						height: 18px;
						background-size: 100%;
						margin:{
							top: 15px;
							left: 15px;
						}
						&.default{
							background-size: 100%;
						}
					}
					.e-payment,.other-payment{
						.pay-box{
							width: 190px;
							height: 50px;
							background-size: 100%;
							&.alipay{
								background-size: 100%;
							}
							&.weChat{
								background-size: 100%;
							}
						}
					}
				}
				.password{
					font-size: 16px;
					&>a{
						width: 145px;
						line-height: 45px;
						font-size: 22px;
					}
					.pay-password{
						i{
							width: 20px;
							height: 20px;
							background-size: 100%;
						}
						input{
							width: 45px;
							height: 40px;
						}
						a{
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:992px){
	.main .container .content .submit-success i{
		margin-left: 5px;
	}
}
@media screen and (max-width:767px){
	.main .container .content .password .pay-password p input{
		width: 40px;
		height: 40px;
	}
	.main .container .content .password .pay-password a{
		display: inline-block;
	}
}
@media screen and (max-width:570px){
	.col-xs-6{
		width: 100%;
	}
}
@media screen and (max-width:370px){
	.main .container .content .pay-ways{
		padding: 0 5px;
		.e-payment .pay-box,.other-payment .pay-box{
			width: 205px;
		}
	}
	.main .container .content .pay-ways .mCSB_scrollTools{
		visibility: hidden;
	}
	.main .container .content .password .pay-password p input{
		width: 30px;
		height: 30px;
	}
}
