@charset "UTF-8";
body {
  font-family: 微软雅黑;
  font-size: 0;
}

.main {
  background: url(../images/about_us_bg.jpg) 100% 100%;
}
.main .container {
  color: #333;
  padding-bottom: 40px;
}
.main .container .shop-header {
  overflow: hidden;
}
.main .container .shop-header h2 {
  display: inline-block;
  margin-top: 35px;
}
.main .container .shop-header .shop-flow {
  width: 600px;
  display: inline-block;
  float: right;
  text-align: center;
  margin-right: -60px;
}
.main .container .shop-header .shop-flow i {
  display: inline-block;
  width: 430px;
  height: 30px;
  background: url(../images/pay_image.png) no-repeat;
  margin-top: 40px;
}
.main .container .shop-header .shop-flow ol li {
  width: 33.3333%;
  display: inline-block;
  font-size: 18px;
}
.main .container .shop-header .shop-flow ol li.cur {
  color: #993333;
}
.main .container .content {
  background: #fff;
  text-align: center;
  margin-top: 30px;
  padding-top: 55px;
  padding-bottom: 120px;
}
.main .container .content h1 {
  font-size: 40px;
  color: #000;
  line-height: 120px;
  display: inline-block;
  overflow: hidden;
}
.main .container .content h1 i {
  display: inline-block;
  width: 123px;
  height: 120px;
  float: left;
  margin-right: 45px;
  background: url(../images/pay_success_icon.png) no-repeat;
}
.main .container .content .success-info {
  display: inline-block;
  margin-left: 105px;
}
.main .container .content .success-info p {
  text-align: left;
}
.main .container .content p {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main .container .content p.info {
  font-size: 18px;
}
.main .container .content p span {
  font-size: 30px;
  color: #ff0000;
}
.main .container .content p a {
  display: inline-block;
  width: 170px;
  line-height: 50px;
  background: #993333;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  behavior: url(PIE.htc);
  margin: 0 40px;
}
.main .container .content p a:first-child {
  margin-left: 80px;
}

/* 响应式 */
@media (min-width: 768px) and (max-width: 1200px) {
  .main .container .shop-header h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  .main .container .shop-header .shop-flow {
    width: 600px;
  }
  .main .container .shop-header .shop-flow i {
    margin-top: 20px;
  }
  .main .container .shop-header .shop-flow ol li {
    font-size: 16px;
  }
  .main .container .content {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .main .container .content h1 {
    font-size: 36px;
    line-height: 100px;
  }
  .main .container .content h1 i {
    width: 105px;
    height: 100px;
    background-size: 100%;
  }
  .main .container .content .success-info {
    margin-left: 95px;
  }
  .main .container .content .success-info .info {
    font-size: 16px;
  }
  .main .container .content p {
    font-size: 20px;
  }
  .main .container .content p span {
    font-size: 24px;
  }
  .main .container .content p a {
    width: 142px;
    line-height: 42px;
    font-size: 20px;
    margin: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    background: #fff;
  }
  .main .container .content {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .main .container .content h1 {
    font-size: 30px;
    line-height: 148px;
  }
  .main .container .content h1 i {
    width: 150px;
    height: 147px;
    margin-right: 10px;
    background: url(../images/sm_pay_success.png) no-repeat;
  }
  .main .container .content .success-info {
    margin-left: 0;
  }
  .main .container .content .success-info p {
    text-align: center;
  }
  .main .container .content .success-info .info {
    font-size: 24px;
  }
  .main .container .content p {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .main .container .content p a {
    display: block;
    width: 60%;
    line-height: 80px;
    background: #ff0000;
    font-size: 30px;
    border-radius: 0;
    margin: 0 auto;
  }
  .main .container .content p a:first-child {
    margin-left: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 380px) {
  .main .container .content p a {
    width: 100%;
  }

  .main .container .content h1 span {
    display: block;
  }
}

/*# sourceMappingURL=pay_success.css.map */
