@charset "UTF-8";
body {
  font-family: 微软雅黑;
  font-size: 0;
}

.main {
  background: url(../images/about_us_bg.jpg) 100% 100%;
}
.main .container {
  color: #333;
}
.main .container > p {
  font-size: 14px;
  text-align: left;
  padding-top: 30px;
  border-bottom: 1px solid #333;
}
.main .container > p span {
  color: #993333;
}
.main .container .content {
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  background: #fff;
  text-align: left;
}
.main .container .content .subnav {
  width: 100%;
  margin-bottom: 27px;
  border: 1px solid #993333;
}
.main .container .content .subnav a {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
.main .container .content .subnav a.selected, .main .container .content .subnav a:hover {
  background: #993333;
  color: #fff;
}
.main .container .content .tab .album {
  width: 480px;
  margin: 0 auto;
  border: 1px solid #999;
}
.main .container .content .tab .album > img {
  width: 478px;
  height: 478px;
  cursor: pointer;
  border-bottom: 1px solid #999;
}
.main .container .content .tab .album .album_show {
  padding: 9px;
  overflow: hidden;
  text-align: center;
}
.main .container .content .tab .album .album_show span {
  display: block;
  padding: 12px 5px;
  background: #ccc;
  cursor: pointer;
}
.main .container .content .tab .album .album_show span.pro_prev {
  float: left;
}
.main .container .content .tab .album .album_show span.pro_next {
  float: right;
}
.main .container .content .tab .album .album_show span:hover {
  background: #993333;
}
.main .container .content .tab .album .album_show .view {
  display: inline-block;
  width: 360px;
  line-height: 120px;
  overflow: hidden;
}
.main .container .content .tab .album .album_show .view ul {
  margin-left: -15px;
  overflow: hidden;
}
.main .container .content .tab .album .album_show .view ul li {
  float: left;
  margin-left: 15px;
}
.main .container .content .tab .album .album_show .view ul li.cur img {
  border: 1px solid #993333;
}
.main .container .content .tab .album .album_show .view ul li img {
  cursor: pointer;
  border: 1px solid #ccc;
}
.main .container .content .tab .album .album_show .view ul li img:hover {
  border-color: #993333;
}
.main .container .content .tab .pro_info {
  letter-spacing: 2px;
}
.main .container .content .tab .pro_info h2 {
  font-size: 24px;
  line-height: 36px;
}
.main .container .content .tab .pro_info .mCSB_scrollTools {
  height: 500px;
}
.main .container .content .tab .pro_info .mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  background: #993333;
  border-radius: 0;
}
.main .container .content .tab .pro_info .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 11px;
  background: #993333;
  border-radius: 0;
}
.main .container .content .tab .pro_info .pro_text {
  height: 500px;
  padding-top: 30px;
}
.main .container .content .tab .pro_info .pro_text div {
  font-size: 20px;
  margin-bottom: 30px;
}
.main .container .content .tab .pro_info .pro_text div span {
  text-align: center;
  display: inline-block;
}
.main .container .content .tab .pro_info .pro_text div.price span {
  color: #ff0000;
}
.main .container .content .tab .pro_info .pro_text div.size span {
  width: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #999;
  margin: 0 8px;
  cursor: pointer;
}
.main .container .content .tab .pro_info .pro_text div.size span.selected {
  border-color: #993333;
}
.main .container .content .tab .pro_info .pro_text div.color span {
  width: 56px;
  line-height: 28px;
  border: 1px solid #999;
  margin-right: 38px;
  cursor: pointer;
}
.main .container .content .tab .pro_info .pro_text div.color span.selected {
  border-color: #993333;
}
.main .container .content .tab .pro_info .pro_text div.number a {
  display: inline-block;
  width: 38px;
  line-height: 38px;
  border: 1px solid #999;
  text-align: center;
}
.main .container .content .tab .pro_info .pro_text div.number input {
  width: 80px;
  line-height: 38px;
  border: 1px solid #999;
  text-align: center;
  border-left: none;
  border-right: none;
  margin: 0 -8px;
}
.main .container .content .tab .pro_info .pro_text div.link a {
  width: 160px;
  display: inline-block;
  line-height: 50px;
  color: #fff;
  background: #993333;
  text-align: center;
  border-radius: 5px;
  behavior: url(PIE.htc);
  margin-right: 20px;
}
.main .container .content .tab .pro_info .pro_text div.service {
  display: table;
  margin-top: 70px;
}
.main .container .content .tab .pro_info .pro_text div.service .label {
  width: 110px;
  font-size: 20px;
  color: #333;
  font-weight: normal;
  display: table-cell;
  padding: 0;
}
.main .container .content .tab .pro_info .pro_text div.service p {
  display: table-cell;
}
.main .container .content .tab .pro_info .pro_text div.service span {
  width: 136px;
  line-height: 25px;
  text-align: left;
  margin-bottom: 20px;
}
.main .container .content .tab .pro_info .pro_text div.service span i {
  width: 25px;
  height: 25px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  background: url(../images/pro_details_icon.png) no-repeat;
}
.main .container .content .tab .pro_info .pro_text div.service span i.on_time {
  background-position: 50%;
}
.main .container .content .tab .pro_info .pro_text div.service span i.seven_day {
  background-position: 100%;
}

/* 响应式 */
@media (min-width: 768px) and (max-width: 1200px) {
  .main .container .content .tab .pro_info .pro_text div.number input {
    margin-left: -7px;
  }

  .main .container > p {
    font-size: 12px;
  }
  .main .container .content {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .main .container .content .tab .album {
    width: 330px;
  }
  .main .container .content .tab .album > img {
    width: 328px;
    height: 328px;
  }
  .main .container .content .tab .album .album_show {
    padding: 5px;
  }
  .main .container .content .tab .album .album_show span {
    padding: 8px 4px;
  }
  .main .container .content .tab .album .album_show span img {
    width: 14px;
    height: 67px;
  }
  .main .container .content .tab .album .album_show .view {
    width: 243px;
    line-height: 83px;
  }
  .main .container .content .tab .album .album_show .view ul {
    margin-left: -10px;
  }
  .main .container .content .tab .album .album_show .view ul li {
    margin-left: 10px;
  }
  .main .container .content .tab .album .album_show .view ul li img {
    width: 74px;
    height: 74px;
  }
  .main .container .content .tab .pro_info {
    letter-spacing: 2px;
  }
  .main .container .content .tab .pro_info h2 {
    font-size: 22px;
  }
  .main .container .content .tab .pro_info .mCSB_scrollTools {
    height: 300px;
  }
  .main .container .content .tab .pro_info .pro_text {
    height: 300px;
    padding-top: 5px;
  }
  .main .container .content .tab .pro_info .pro_text div {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .main .container .content .tab .pro_info .pro_text div.link a {
    width: 150px;
    line-height: 40px;
  }
  .main .container .content .tab .pro_info .pro_text div.service {
    margin-top: 32px;
  }
  .main .container .content .tab .pro_info .pro_text div.service .label {
    width: 95px;
    font-size: 18px;
  }
  .main .container .content .tab .pro_info .pro_text div.service span {
    width: 120px;
  }
  .main .container .content .tab .pro_info .pro_text div.service span i {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main .container .content .tab .pro_info {
    padding-left: 35px;
  }
}
@media screen and (max-width: 767px) {
  .main .container .content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .main .container .content .tab .pro_info {
    padding: 0 10px;
  }

  .main .container .content .tab .album {
    width: 262px;
  }
  .main .container .content .tab .album > img {
    width: 260px;
    height: 260px;
  }
  .main .container .content .tab .album .album_show span {
    display: none;
  }
  .main .container .content .tab .album .album_show ul li {
    width: 20px;
    height: 5px;
    background: #fff;
    border: 1px solid #993333;
  }
  .main .container .content .tab .album .album_show ul li.cur {
    background: #993333;
  }
  .main .container .content .tab .album .album_show .view {
    width: 85%;
  }
  .main .container .content .tab .album .album_show .view ul {
    margin-left: 0;
    width: 210px;
    margin: 0 auto;
  }
  .main .container .content .tab .album .album_show .view ul li {
    margin: 0 7px;
  }
}
@media screen and (max-width: 475px) {
  .main .container .content .tab .pro_info .pro_text div.color span {
    margin-right: 0;
  }

  .main .container .content .tab .pro_info .pro_text div.number span {
    width: 70px;
  }

  .main .container .content .tab .pro_info .pro_text div.link a {
    width: 100%;
    margin-bottom: 10px;
  }

  .main .container .content .tab .pro_info .pro_text div.service span {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .main .container .content .subnav {
    text-align: left;
  }

  .main .container .content .subnav a {
    width: 33.3333%;
    border: 1px solid #fff;
  }

  .main .container .content .tab ul li .pro-link .pro-image {
    width: 219px;
    height: 240px;
    background-size: 100%;
  }
}

/*# sourceMappingURL=pro_details.css.map */
