@charset "utf-8";
body{
	font-family: 微软雅黑;
	font-size: 0;
}
.main{
	background: url(../images/about_us_bg.jpg) 100% 100%;
	.container{
		color: #333;
		.shop-header{
			overflow: hidden;
			h2{
				display: inline-block;
				margin:{
					top: 35px;
				}
			}
			.shop-flow{
				width: 600px;
				display: inline-block;
				float: right;
				text-align: center;
				margin-right: -60px;
				i{
					display: inline-block;
					width: 430px;
					height: 30px;
					background: url(../images/shop_cart_image01.png) no-repeat;
					margin:{
						top: 40px;
					}
				}
				ol{
					li{
						width: 33.3333%;
						display: inline-block;
						font-size: 18px;
						&.cur{
							color: #993333;
						}
					}
				}
			}	
		}
		.shop-title{
			border-bottom: 1px solid #333;
			margin-bottom: 8px;
			a{
				font-size: 24px;
				display: inline-block;
				margin:{
					left: 60px;
					right: 60px;
					top: 20px;
					bottom: 5px;
				}
				&.cur{
					color: #993333;
				}
			}
		}
		.content{
			margin-bottom: 40px;
			padding:{
				top: 55px;
				bottom: 25px;
				left: 20px;
				right: 20px;

			}
			background: #fff;
			text-align: center;
			form{
				label{
					height: 20px;
					cursor: pointer;
					font-weight: normal;
					background: url(../images/check_box.jpg) no-repeat;
					&.default{
						background: url(../images/checked_box.jpg) no-repeat;
					}
					input{
						visibility: hidden;
					}
					span{
						margin-left: 5px;
					}
				}
				.shop-cart-title{
					font-size: 18px;
					margin:{
							left: 20px;
							right: 40px;
							bottom: 20px;
						}
				}
				// 滚动条样式修改
				.mCSB_scrollTools{
					height: 430px;
					margin-top: 12px;
				}
				.mCSB_scrollTools .mCSB_draggerRail{
				    width:1px;
				    background: #993333;
				    border-radius: 0;
			    }
				.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
					width: 11px;
					background: #993333;
					border-radius: 0;
				}
				.shop-box{
					height: 455px;
					.shop-cart{
						font-size: 14px;
						border: 1px solid #999;
						padding: 5px 0;
						margin:{
							left: 20px;
							right: 10px;
							top: 30px;
						}
						label{
							width: 20px;
						}
						&:first-child{
							margin-top: 0;
						}
						.text{
							height: 200px;
							display: table-cell;
	    					vertical-align: middle;
	    					.num{
	    						overflow: hidden;
	    						padding-left: 25px;
	    						i{
	    							display: inline-block;
	    							width: 20px;
	    							height: 20px;
	    							float: left;
	    							background: url(../images/shop_cart_icon.png) no-repeat;
	    							&.add{
	    								background-position: 100%;
	    							}
	    						}
	    						input{
	    							width: 40px;
	    							height: 20px;
	    							border: none;
	    							border: 1px solid #666;
	    							float: left;
	    							margin: 0 5px;
	    							text-align: center;
	    						}
	    					}
						}
						a{
							width: 185px;
							display: inline-block;
							vertical-align: middle;
							text-align: left;
						}
						span{
							display: inline-block;
							width: 100%;
							margin-bottom: 5px;
						}
						button{
							border: none;
							background: none;
							margin-bottom: 5px;
						}
					}
				}
				.sub,.add{
					cursor: pointer;
				}
				ol{
					overflow: hidden;
					border-bottom: 1px solid #999;
					padding-bottom: 15px;
					padding-top: 10px;
					li{
						float: left;
						.default{
							background: url(../images/checked_box.jpg) no-repeat
						}
						.text{
							overflow: hidden;
							font-size: 18px;
							a{
								display: inline-block;
								font-size: 18px;
								margin-bottom: 10px;
								margin-top: 10px;
							}
							p{
								font-size: 14px;
								span{
									display: block;
									margin-right: 10px;
									margin-bottom: 10px;
								}
							}
							&>span{
								display: block;
								font-size: 20px;
								color: #993333;
								margin-bottom: 10px;
								margin-top: 10px;
							}
							.num{
								float: right;
							}
							i{
    							display: inline-block;
    							width: 20px;
    							height: 20px;
    							float: left;
    							background: url(../images/shop_cart_icon.png) no-repeat;
    							&.add{
    								background-position: 100%;
    							}
    						}
    						input{
    							width: 40px;
    							height: 20px;
    							border: none;
    							border: 1px solid #666;
    							float: left;
    							margin: 0 5px;
    							text-align: center;
    						}
						}
						&.pro-img{
							width: 40%;
							label{
								width: 20px;
								margin-right: 5px;
							}
						}
						&.pro-info{
							width: 60%;
							text-align: left;
							padding: 0 5px;
						}
					}
				}
				.shop-foot{
					text-align: right;
					margin:{
						top: 30px;
						right: 40px;
					}
					p{
						font-size: 18px;
						display: inline-block;
						margin: 0 15px;
						span{
							font-size: 24px;
							color: #993333;
						}
					}
					a{
						display: inline-block;
						width: 165px;
						height: 50px;
						background: #993333;
						color: #fff;
						font-size: 24px;
						line-height: 50px;
						text-align: center;
						border-radius: 10px;
						behavior: url(PIE.htc);
					}
				}		
			}
		}
	}
}



/* 响应式 */
@media (min-width:768px) and (max-width:1200px){
	.main{
		.container{
			.shop-header{
				h2{
					margin-top: 20px;
				}
				.shop-flow{
					width: 600px;
					// margin-right: -60px;
					i{
						margin-top: 20px;
					}
					ol li{
						font-size: 16px;
					}
				}	
			}
			.shop-title{
				margin-bottom: 5px;
				a{
					font-size: 20px;
					margin: 5px 50px;
				}
			}
			.content{
				margin-bottom: 30px;
				padding:{
					top: 20px;
					bottom: 17px;

				}
				form{
					.shop-cart-title{
						font-size: 16px;
						margin:{
								right: 35px;
								bottom: 5px;
						}
					}
					// 滚动条样式修改
					.mCSB_scrollTools{
						height: 335px;
					}
					.shop-box{
						height: 360px;
						.shop-cart{
							font-size: 12px;
							margin:{
								left: 10px;
								right: 5px;
							}
							img{
								width: 140px;
							}
							.text{
								height: 152px;
		    					.num{
		    						padding-left: 13px;
		    					}
							}
							a{
								width: 140px;
							}
						}
					}
					.shop-foot{
						margin:{
							top: 20px;
							right: 30px;
						}
						p{
							font-size: 16px;
							margin: 0 15px;
							span{
								font-size: 20px;
							}
						}
						a{
							width: 140px;
							height: 40px;
							font-size: 20px;
							line-height: 40px;
						}
					}		
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:992px){
	.main{
		.container{
			.shop-title{
				a{
					margin: 5px 30px;
				}
			}
			.content{
				form{
					.shop-cart-title{
						font-size: 14px;
					}
					.shop-box .shop-cart{
						margin-top: 10px;
						button{
							display: block;
							margin-left: 27px;
						}
						a.info-text{
							margin-left: 30px;
						}
						.text{
							span{
								margin-left: 10px;
							}
							 .num{
								padding-left: 0px;
								input{
									width: 35px;
									margin: 0;
								}
							}
						}
					} 	
				}
			}
		}
	}
}
@media screen and (max-width:767px){
	.main .container .content{
		padding-top: 10px;
	}
}
@media screen and (max-width:620px){
	.main .container .shop-title a{
		margin:{
			left: 20px;
			right: 20px;
		}
	}
	.main .container .content form ol li{
		&.pro-img{
			width: 100%;
			overflow: hidden;
			label{
				float: left;
			}
		}
		&.pro-info{
			width: 100%;
		}
	}
}