
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span><empty name="Think.get.id">添加<else />修改</empty>内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label>规格名：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$spec['spec_name']}" name="spec_name"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>商品所属类型：</label>
        </div>
        <div class="field">
			<select name="type_id" value="" class="input w50">
				<option value="">请选择商品所属类型</option>
				<foreach name="goods_type" item="value">
				<option <eq name="spec['type_id']" value="$value['id']">selected</eq> value="{$value['id']}">{$value['type_name']}</option>
				</foreach>
			</select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>规格选项：</label>
        </div>
        <div class="field">
          <textarea name="items" value="" style="width:400px;height:200px;">{$spec['items']}</textarea>
		 一行为一个选项
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
		  <input type="hidden" name="id" value="{$Think.get.id}"></input>
        </div>
      </div>
    </form>
  </div>
</div>