
<link rel="stylesheet" type="text/css" href="__PUBLIC__css/news.css">
<!-- main开始 -->
	<div class="main">
		<div class="container">
			<h2>新闻中心</h2>
			<h3>News center</h3>
			<p>当前位置：<a href="index.html">首页</a>><span>新闻中心</span></p>
			<div class="content">
				<ul>
				<foreach name="news" item="value">
					<li class="row">
						<div class="col-md-4 col-lg-4 con-image"><a href="news_details.html"></a></div>
						<div class="col-md-8 col-lg-8 con-text">
							<h4><a href="news_details.html">{:mb_substr($value['news_name'],0,20,"utf-8")}</a></h4>
							<p>{:strip_tags($value['content'])}</p>
							<span>{:date('Y-m-d',$value['create_time'])}</span>
							<a href="news_details.html">查看详情>></a>
						</div>
					</li>
					</foreach>
				</ul>
				<div aria-label="Page navigation" class='page'>
				    {$page}
				    </ul>
				</div>
			</div>
		</div>
	</div>
	<!-- main结束 -->