
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span><empty name="Think.get.id">添加<else />修改</empty>分类</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label>上级分类：</label>
        </div>
        <div class="field">
			<select class="input w50"  name="parent_id">
				<option value="0">顶级分类</option>
				<foreach name="cate" item="value">
				<option <eq name="value['id']" value="$info['parent_id']">selected</eq> value="{$value['id']}">{:str_repeat('&nbsp;&nbsp;&nbsp;',$value['level']-1)}{$value['cate_name']}</option>
				</foreach>
			</select>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>分类：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="{$info['cate_name']}" name="cate_name"  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>